@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    font-size: medium;
}
.color{
    background:linear-gradient(100deg,white 60%,#F6B400 50%);
}
.logo{
    float:left;
    display:flex;
}
.navbar{
    display: flex;
    float: right;
}
.navbar a{
    margin-right: 100px;
    text-decoration: none;
}
.parent{
display: flex;
height: 600px;
}
.first-child{
    float:left;
    padding-top: 100px;
    width:50%;
    clear: both;
}
.burg1{
    float: right;
    clear:both;
    height: 300px;
    padding-top: 50px;
}
img{
        max-height: 350px;
        max-width: 350px;
}
button{
    border-radius: 25px;
    background-color: #FFB400;
    align-self: flex-end;
    margin-top: 100px;
}
.box{
    width:100%;
    display:flex;
    text-align: center;
    float: left;
    background-color: #f5fffa;
    height: auto;
    justify-content: center;
    justify-content: space-between;
}
.box1{
    margin: 30px;
    width:350px;
    height:400px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-width: thin;
    border-style: solid;
}
.box2{
    margin: 30px;
    width:350px;
    height:450px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-width: thin;
    border-style: solid;
}
.box3{
    margin: 30px;
    width:350px;
    height:400px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-width: thin;
    border-style: solid;
}
.he1{
    width: 100%;
    text-align: center;
    text-decoration-line:none;
    border-bottom: 4px #FFB400;
    padding-top:70px;
    clear: both;
}
.first3{
    display: flex;
    float:left;
}
.desc1{
    float: left;
    padding-left: 70px;
}
#b1{
    text-align: center;
    margin:20px;
    width:33.33%;
    height:450px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 5px #dce6e1; 
}
#b2{
    text-align: center;
    margin:20px;
    width:33.33%;
    height:450px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 5px #dce6e1; 
}
#b3{
    text-align: center;
    margin:20px;
    width:33.33%;
    height:450px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 5px #dce6e1; 
}
.last3{
    display: flex;
    float:left;
}
#b4{
    text-align: center;
    margin:20px;
    width:33.33%;
    height:450px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 5px #dce6e1; 
}
#b5{
    text-align: center;
    margin:20px;
    width:33.33%;
    height:450px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 5px #dce6e1; 
}
#b6{
    text-align: center;
    margin:20px;
    width:33.33%;
    height: 450px;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0px 5px 5px 5px #dce6e1; 
}
.menu2{
background-color: #f5fffa;
padding-right: 100%;
display: flex;
height:500px;
}
.text5{
    display: block;
    float:left;
    padding-left: 100px;
}
.dburg{
    float:right;
    padding-left: 300px;
}
.smedia{
    font-weight: bolder;
    background-color: #FFB400;
    float:left;
    width: 100%;
}
.text1{
    width:100%;
}
.photos{
    float:right;
    padding-left: 100px;
    display:flex;
}
#mobile1{
    padding-right: 70px;
    padding-left: 200px;
}
#mobile2{
    padding-right: 70px;
}
.information{
    display: flex;
    width:100%;
    justify-content:space-between;
    background-color: #f5fffa;
}
.copy{
    flex-flow: row;
    justify-content:space-between;
}
.edittext{
    font-size: 35px;

}
.edittext2{
    font-size: 28px;

}
.edittext3{
    font-size: 20px;

}
.edittext4{
    font-size:20px;
    text-align: justify;
}
.edittext5{
    font-size:25px;
}