@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    font-size: medium;
}
.logo{
    float:left
}
.navbar{
    display: flex;
    float: right;
}
.container{
    background: linear-gradient(to right; white,orange);
}
img{
        max-height: 250px;
        max-width: 250px;
}
button{
    border-radius: 25px;
    background-color: #FFB400;
    align-self: flex-end;
}
.box{
    display: flex;
    margin-top: 50px;
    text-align: center;
}
.box1{
    margin:50px;
    width:250px;
    height:300px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-width: thin;
    border-style: outset;
}
.box2{
    margin:50px;
    width:250px;
    height:400px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-width: thin;
    border-style: solid;
}
.box3{
    margin:50px;
    width:250px;
    height:300px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-width: thin;
    border-style: solid;
}
.menu{
    display: flex;
}
#b1{
    margin:50px;
    width:350px;
    height:350px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-width: thin;
    border-style:solid;
}
#b2{
    margin:50px;
    width:350px;
    height:350px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-width: thin;
    border-style:solid;
}
#b3{
    margin:50px;
    width:350px;
    height:350px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-width: thin;
    border-style:solid;
}
#b4{
    margin:50px;
    width:350px;
    height:350px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-width: thin;
    border-style:solid;
}
#b5{
    margin:50px;
    width:350px;
    height:350px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-width: thin;
    border-style:solid;
}
#b6{
    margin:50px;
    width:350px;
    height:350px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-width: thin;
    border-style:solid;
}
.menu2{
background-color:#E1EBE6;
}
.smedia{
    font-weight: bolder;
    background-color: #FFB400;
    display: flex;
}
.last1{
    display:flex;
}
.footer{
    display:inline-block;
}